*.swp
*.swo
*.o
mpi_alltoall_and_v_routines/bin
mpi_bcast/compare_bcast
mpi_bcast/my_bcast
mpi_hello_world/mpi_hello_world
mpi_probe_status/check_status
mpi_probe_status/probe
mpi_reduce_allreduce/avg
mpi_reduce_allreduce/stddev
mpi_scatter_gather_allgather/all_avg
mpi_scatter_gather_allgather/avg
mpi_send_recv/ping_pong
mpi_send_recv/ring
mpi_send_recv/send_recv
parallel_rank_app/random_rank
random_walk_app/random_walk