---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <i>Author: {{ page.author }}</i>
  <hr />

  {{ content }}
</div>

<h2>Want to contribute?</h2>
<div class='contributing'>
This site is hosted entirely on <a href="{{ site.github.code }}">GitHub</a>. This site is no longer being actively contributed to by the original author (Wes Kendall), but it was placed on GitHub in the hopes that others would write high-quality MPI tutorials. Click <a href="{{ site.baseurl }}/about/">here</a> for more information about how you can contribute.
</div>
<br/>

{% include comments.html %}

<br />
